$black: #111237
*
    color: $black
.container
    max-width: 1440px
.block
    display: flex
    justify-content: space-between
    align-items: center
    &-mirror
        display: flex
        justify-content: space-between
        align-items: center
    &-container
        &__title
            font-size: 40px
            line-height: 49px
        &__text
            font-size: 24px
            line-height: 34px
    &__img
        max-width: 652px
        width: 100%
@media (max-width: 1300px)
    .block
        margin-top: 100px
        flex-direction: column-reverse
        text-align: center
        &-mirror
            text-align: center
            margin-top: 100px
            flex-direction: column
        &-container
            max-width: 500px
        &__img
            margin-top: 50px